{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h1>Привет, {{current_user.username}} !</h1>
        <p>В этом приложении можно посмотреть аналитику по non-life страховому рынку. Источник данных - файлы с сайта НБ РК.</p>
        <p>На данный момент в приложение загружены данные за период с 
            <b>{{ moment(g.min_report_date).format('LL') }}</b> по  
            <b>{{ moment(g.last_report_date).format('LL') }}</b>
        </p>
    </div>
    <a href="#additional_info" data-toggle="collapse">Показать / скрыть доп. информацию</a><br><br>
    <div id="additional_info" class="collapse">
        <p>Приложение опирается на четыре файлы, загружаемые с сайта НБ РК: 
            <a href="https://nationalbank.kz/?docid=1075&switch=russian">Статистика > Показатели финансового сектора > Страховой сектор > Финансовые показатели</a>
        </p>
        <p>На вкладке <a href="{{ url_for('company_peers_profile.company_profile') }}">Компании</a>
            можно посмотреть информацию о выбранной компании
            за запрошенный период, а также сравнить основные показатели с рынком.
        </p>
        <p>На вкладке <a href="{{ url_for('class_profile.class_profile') }}">Классы</a>
            можно посмотреть информацию о выбранном классе страхования
            за запрошенный период, а также динамику развития.
        </p>
        <p>На вкладке <a href="{{ url_for('class_profile.insform_profile') }}">Формы</a>
            можно посмотреть информацию о выбранной форме страхования (обязательная / ДИС / ДИС)
            за запрошенный период, а также динамику развития.
        </p>    
        <p>На вкладке <a href="{{ url_for('company_peers_profile.peers_review') }}">Конкуренты</a>
            можно сравнить показатели выбранной компании с основными конкурентами
            (за запрошенный период). Конкурентов нужно будет выбрать из списка.
        </p>
        <p>На вкладке <a href="{{ url_for('ranking.ranking') }}">Рынок</a>
            можно посмотреть позицию компаний по основным показателям.
        </p>
        <p>На вкладке <a href="{{ url_for('motor.motor') }}">Авто</a>
            можно посмотреть данные по автострахованию и страховому портфелю в целом.
        </p>    
        <p>Также вы можете оставлять посты, чтобы другие пользователи смогли увидеть
            ваши интересные находки и заключения. Посты будут видны всем пользователям.
        </p>
        <p>Если у вас есть вопросы и предложения - пишите на <a href="mailto:{{ admin_email }}">{{ admin_email }} </a></p>
    </div>        

    {% if motor_TPL_premium %}
    <div>
        <h2>Премии ОС ГПО ВТС на {{ moment(g.last_report_date).format('LL') }}</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>N</th>
                    <th>Компания</th>
                    <th align="right">Премии ОС ГПО ВТС, тыс.тг.</th>
                    <th align="right">Доля рынка, %</th>
                </tr>
                {% for item in motor_TPL_premium %}
                    <tr>
                        <td>{{ item.row_index+1 }}</td>
                        <td>{{ item.alias }}</td>
                        <td align="right">{{ "{:,.0f}".format(item.value) }}</td>
                        <td align="right">{{ item.share }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if net_premiums %}
    <div>
        <h2>Чистые премии на {{ moment(g.last_report_date).format('LL') }}</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>N</th>
                    <th>Компания</th>
                    <th align="right">Чистые премии, тыс.тг.</th>
                    <th align="right">Доля рынка, %</th>
                </tr>
                {% for item in net_premiums %}
                    <tr>
                        <td>{{ item.row_index+1 }}</td>
                        <td>{{ item.alias }}</td>
                        <td align="right">{{ "{:,.0f}".format(item.value) }}</td>
                        <td align="right">{{ item.share }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}    
    {% if form %}
        <h2>Написать пост</h2>
        {{ wtf.quick_form(form) }}
        <br>
    {% endif %}
    <div>
        <h2>Последние посты</h2>
        {% for post in posts %}
            {% include 'main/_post.html' %}
        {% endfor %}
        <br><a href="{{ url_for('main.explore') }}">Все посты</a>
    </div>
{% endblock %}
