{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Список всех наименований: {{ company_name }}</h1>
<div class="row">
    <h2>Существующие наименования</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>id записи</th>
                <th>id компании</th>
                <th>Название</th>
                <th>Изменить</th>
            </tr>
            {% for c in all_names %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.company_id }}</td>
                    <td>{{ c.name }}</td>
                    <td><a href="{{ url_for('admin.edit_company_name',company_id=c.company_id,_id=c.id) }}">Изменить</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<h2>Добавить ещё наименование / Изменить</h2>
    {% include 'just_form.html' %}

{% endblock %}