{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Просмотр справочников</h1>
    {% include 'just_form.html' %}
<div class="row">
    {% if show_companies %}        
        <a href="{{ url_for('admin.add_new_company') }}" class="btn btn-success" role="button" style="margin: 10px;">Добавить компанию</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>id</th>
                    <th>Краткое название</th>
                    <th>Полное название</th>
                    <th>nonlife</th>
                    <th>alive</th>
                    <th>Несколько названий</th>
                    <th>Добавить название</th>
                    <th>Изменить данные</th>
                </tr>
                {% for c in companies %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.alias }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.nonlife }}</td>
                        <td>{{ c.alive }}</td>
                        <td>
                            {% if company_has_other_names(c.id) %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('admin.add_new_company_name',company_id=c.id) }}">Добавить название</a></td>
                        <td><a href="{{ url_for('admin.edit_company',company_id=c.id) }}">Изменить данные</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if show_classes %}
    <a href="{{ url_for('admin.add_new_class') }}" class="btn btn-success" role="button" style="margin: 10px;">Добавить класс</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Полное название</th>
                    <th>alias</th>
                    <th>Добавить название</th>
                    <th>Изменить данные</th>                    
                    <th>nonlife</th>
                    <th>obligatory</th>
                    <th>voluntary_personal</th>
                    <th>voluntary_property</th>
                    <th>sum_to_totals</th>
                    <th>Несколько названий</th>
                </tr>
                {% for i in insclasses %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.alias }}</td>
                        <td><a href="{{ url_for('admin.add_new_class_name',class_id=i.id) }}">Добавить название</a></td>
                        <td><a href="{{ url_for('admin.edit_class',class_id=i.id) }}">Изменить данные</a></td>                        
                        <td>{{ i.nonlife }}</td>
                        <td>{{ i.obligatory }}</td>
                        <td>{{ i.voluntary_personal }}</td>
                        <td>{{ i.voluntary_property }}</td>
                        <td>{{ i.sum_to_totals }}</td>
                        <td>
                            {% if class_has_other_names(i.id) %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if show_indicators %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Полное название</th>
                    <th>Описание</th>
                    <th>flow</th>
                    <th>basic</th>
                </tr>
                {% for i in indicators %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.flow }}</td>
                        <td>{{ i.basic }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>    
    {% endif %}    
</div>

{% endblock %}