{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}    
    <h1>Insmkt: инструкция администратора</h1>

    <h2><a href="#general_info" data-toggle="collapse">Общая информация</a></h2>
    <div id="general_info" class="collapse">
        <p>
            Insmkt базируется на excel файлах, которые регулятор выкладывает в свободном доступе у себя на сайте,
            в разделе <a href="https://nationalbank.kz/?docid=1075&switch=russian">Статистика > Показатели финансового сектора > Страховой сектор > Финансовые показатели</a>
        </p>
        <p>
            Для корректной работы insmkt необходимо раз в месяц загружать обновленные файлы, детали процедуры описаны в разделе
            <a href="#regular_upload_info" data-toggle="collapse">Ежемесячная процедура: загрузка файлов и перерасчёт</a>.
        </p>
    </div>

    <h2><a href="#tech_info" data-toggle="collapse">Техническая информация</a></h2>
    <div id="tech_info" class="collapse">
        <p>Insmkt - классическое backend приложение, написано с использованием микрофреймворка Python Flask.
           Исходный код находится в свободном доступе <a href="https://github.com/mokhnatkin/insmkt">на сервисе gitHub</a>.</p>
        <p>Физически приложение insmkt размещено на EC2 машине от Amazon, арендуемой компанией Amanat. 
            Для доступа к серверу необходим ключ <i>Analytics_Amanat.pem</i> (он есть у системных администраторов).</p>
        <p>На случай, если "что-то пойдет не так", все данные бэкапируются с помощью крона в ежедневном режиме. 
            Бэкапы хранятся на сервере в директории <i>mysqlbackups</i>. Данные из бэкапа можно восстановить с помощью команды 
            <i>mysql -u "db_username" -p"db_userpassword" "db_name" < "backup_file_name".sql </i>
            <br>Информация с именем БД, именем и паролем пользователя БД хранится в файле 
            с переменными окружения <i>.env</i> на сервере в директории <i>insmkt</i>.
        </p>
    </div>

    <h2><a href="#regular_upload_info" data-toggle="collapse">Ежемесячная процедура: загрузка файлов и перерасчёт</a></h2>    
    <div id="regular_upload_info" class="collapse">
        <p>
            Для того, чтобы пользоваться приложением, в него нужно загрузить справочники и данные с сайта НБ РК.
            Для загрузки нужно иметь полномочия администратора.
        </p>

        <h3>Проверка файлов перед загрузкой</h3>
            <p>Приложение опирается на четыре файла, загружаемых с сайта НБ РК: 
                <a href="https://nationalbank.kz/?docid=1075&switch=russian">Статистика > Показатели финансового сектора > Страховой сектор > Финансовые показатели</a>:            
                <ul>
                    <li><a href="https://nationalbank.kz/?docid=1076&switch=russian">Сведения по страховым (перестраховочным) организациям</a></li>
                    <li><a href="https://nationalbank.kz/?docid=1077&switch=russian">Поступление страховых премий по отраслям и классам страхования</a></li>
                    <li><a href="https://nationalbank.kz/?docid=1078&switch=russian">Страховые выплаты по отраслям и классам страхования</a></li>
                    <li><a href="https://nationalbank.kz/?docid=1079&switch=russian">Сведения о выполнении страховыми (перестраховочными) организациями пруденциальных нормативов</a></li>
                </ul>
            </p>
            <p>
                Как правило, НБ выкладывает на сайт файлы с информацией на последнее число прошедшего месяца в двадцатых числах следующего месяца. 
                Необходимо скачать четыре вышеуказанных файла к себе на компьютер. 
                Для успешной загрузки файлов в insmkt необходимо, чтобы в каждом файле был только один лист. Поэтому необходимо в каждом файле удалить все листы, 
                не относящиеся к интересующей нас дате. Должен остаться один лист с данными на последнюю отчетную дату.
            </p>
            <p>
                Перед загрузкой файлов в insmkt необходимо провести проверку корректности данных: <a href="{{ url_for('admin.check_file_before_upload',upload_type='data') }}">Администратору > Проверить файл</a>. 
                В поле "Тип данных" нужно выборать одно из значений, в зависимости от проверяемого файла:
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Проверяемый (загружаемый) файл</th>
                                <th>Значение в поле "Типе данных"</th>
                            </tr>
                            <tr>
                                <td>Сведения по страховым (перестраховочным) организациям</td>
                                <td>Основные финансовые показатели</td>
                            </tr>
                            <tr>
                                <td>Поступление страховых премий по отраслям и классам страхования</td>
                                <td>Страховые премии</td>
                            </tr>
                            <tr>
                                <td>Страховые выплаты по отраслям и классам страхования</td>
                                <td>Страховые выплаты</td>
                            </tr>
                            <tr>
                                <td>Сведения о выполнении страховыми (перестраховочными) организациями пруденциальных нормативов</td>
                                <td>Пруденциальные нормативы</td>
                            </tr>                                                                                                
                        </table>
                    </div>
            </p>
            <p>
                Отчетную дату необходимо внести в формате "дд.мм.гггг" (например, 01.03.2020).                
            </p>
            <p>
                В поле "Укажите номер первой строки с данными по компаниям" нужно указать номер строки, в которой "начинаются данные" (после шапки с названием столбцов).
                Номер первой строки с данными зависит от файла и может меняться, если НБ изменит структуру файлов.
            </p>
            <p>В поля "При загрузке премий и выплат: Укажите номер столбца для иных классов, добровольное личное страхование",
                "При загрузке премий и выплат: Укажите номер столбца для иных классов, добровольное имущественное страхование",
                "При загрузке премий и выплат: Укажите номер столбца для иных классов, обязательное страхование" нужно внести номера столбцов, 
                содержащих информацию по иным классам страхования ("иные классы (виды) страхования"). 
                Эти три поля релевантны только при проверке (загрузке) файлов по страховым премиям и страховым выплатам, 
                по остальным же файлам в них можно указать любое число.
            </p>
            <p>
                В таблице ниже приведена информация по номерам первой строки с данными и номерам столбцов для иных классов по всем типам файлов по состоянию на 20.03.2020:
            </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Проверяемый (загружаемый) файл</th>
                            <th>Значение в поле "Укажите номер первой строки с данными по компаниям"</th>
                            <th>Значение в поле "При загрузке премий и выплат: Укажите номер столбца для иных классов, добровольное личное страхование"</th>
                            <th>Значение в поле "При загрузке премий и выплат: Укажите номер столбца для иных классов, добровольное имущественное страхование"</th>
                            <th>Значение в поле "При загрузке премий и выплат: Укажите номер столбца для иных классов, обязательное страхование"</th>
                        </tr>
                        <tr>
                            <td>Сведения по страховым (перестраховочным) организациям</td>
                            <td>7</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Поступление страховых премий по отраслям и классам страхования</td>
                            <td>10</td>
                            <td>11</td>
                            <td>33</td>
                            <td>44</td>
                        </tr>
                        <tr>
                            <td>Страховые выплаты по отраслям и классам страхования</td>
                            <td>10</td>
                            <td>11</td>
                            <td>33</td>
                            <td>44</td>
                        </tr>
                        <tr>
                            <td>Сведения о выполнении страховыми (перестраховочными) организациями пруденциальных нормативов</td>
                            <td>12</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>                                                                                                
                    </table>
                </div>            
            <p>
                Система проверит, все ли названия компаний и классов ей удалось "опознать". 
                Если какие-то значения "опознать" не удалось, то система отобразит их в списке по результатам проверки. 
                В случае, если появились новые классы / компании, необходимо будет добавить новый элемент в соответствующий справочник 
                (справочник классов: Администратору > Справочник > Список классов; справочник компаний: Администратору > Справочник > Список компаний).
                Если же класс / компания уже существуют, но в новом файле название внесено по-другому (например, добавили лишний пробел или забыли закрывающую кавычку), 
                необходимо будет добавить название к существующему элементу.
            </p>
            <h3>Загрузка файлов</h3>
            <p>
                Загрузка файлов с данными запускается с помощью пункта меню 
                <a href="{{ url_for('admin.upload_file',upload_type='data') }}">Администратору > Загрузить данные</a>. 
                Форма для заполнения полностью идентична форме, использующейся для проверки данных. 
                После нажатия на кнопку "Загрузить" система сохранит данные и выведет несколько случайно выбранных 
                записей для визуальной проверки.                
            </p>
            <h3>Перерасчёт</h3>
                <p>
                    После загрузки данных из файлов необходимо выполнить перерасчёт, т.к. НБ РК публикует данные с накопительным итогом, 
                    а для корректной работы insmk необходимы данные помесячно. 
                    Процедура перерасчета определяет и сохраняет значения показателей за месяц.                    
                </p>
                <p>
                    Процедура перерасчета запускается с помощью пункта меню 
                    <a href="{{ url_for('admin.compute') }}">Администратору > Перерасчет показателей</a>.
                    <br>После загрузки всех четырех файлов перерасчёт необходимо выполнить для трёх типов данных:
                    <ul>
                        <li>Страховые премии</li>
                        <li>Страховые выплаты</li>
                        <li>Основные финансовые показатели</li>
                    </ul>
                    Необходимо также заполнить поля "Начало" и "Конец". 
                    Поле "Конец" должно содержать ту дату, на которую были загружены файлы (последняя отчетная дата) 
                    в формате "дд.мм.гггг" (например, 01.03.2020). 
                    <br>Поле "Начало" должно содержать первое число предыдущего месяца в формате "дд.мм.гггг" 
                    (например, если данные были загружены на 01.03.2020, то в поле "Начало" необходимо указать 01.02.2020).
                </p>
                <p>
                    После нажатия на кнопку "Рассчитать" система рассчитает значения показателей за месяц и выведет 
                    несколько случайно выбранных записей для визуальной провеки.
                </p>
            <h3>Уведомление пользователей</h3>
                <p>
                    После перерасчёта показаталей можно уведомить пользователей по электронной почте, написав им письмо 
                    с помощью пункта меню 
                    <a href="{{ url_for('admin.send_email_to_users') }}">Администратору > Отправить email</a>.
                    Для того, чтобы письмо ушло всем пользователям insmkt (кроме тех, кто отписался от email рассылок), 
                    нужно пометить галочку "Отправить всем".
                </p>
    </div>    



    <h2><a href="#upload_once_info" data-toggle="collapse">Разовая процедура: загрузка справочников</a></h2>    
    <div id="upload_once_info" class="collapse">
        <h3>Загрузка справочников</h3>
            <p>
                Приложение опирается на справочники: список страховых компаний, список классов страхования, список показателей.
                Справочники загружаются один раз при запуске приложения.
                <br>Загрузка справочников выполняется с помощью пункта меню 
                <a href="{{ url_for('admin.upload_file',upload_type='dictionary') }}">Администратору > Загрузить справочники</a>
            </p>
            <p>
                При необходимости можно скачать образцы файлов, использующиеся для загрузки справочников:
                <ul>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=company_list) }}">список компаний</a>
                        <br>(в случае, если компания является компанией по общему страхованию, в колонке КОС проставляется 1, если является компанией по страхованию жизни - 0)
                    </li>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=insclass_list) }}">список классов</a>
                        <br>(заполняются <i>name</i> - уникальное имя класса на латинском и <i>full_name</i> - наименование из отчетов НБ РК;
                        признаки <i>nonlife, obligatory, voluntary_personal</i> и <i>voluntary_property</i> обозначают принадлежность класса
                        к общему страхованию, обязательному страхованию, добровольному личному и добровольному имущественному соответственно)
                    </li>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=indicator_list) }}">список показателей</a>
                        <br>(заполняются <i>name</i> - уникальное имя класса на латинском и <i>full_name</i> - наименование из отчетов НБ РК;
                        признак <i>flow</i> обозначает тот факт, что показатель нужно смотреть за период, а не на дату;
                        признак <i>basic</i> обозначает, что данный показатель загружается с отчетов НБ РК, а не вычисляется)
                    </li>
                </ul>        
            </p>


{% endblock %}