{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Инструкция</h1>
    <h2>Просмотр статистики по страховому рынку</h2>
    <h2>Загрузка файлов и перерасчёт</h2>
        <p>
            Для того, чтобы пользоваться приложением, в него нужно загрузить справочники и данные с сайта НБ РК.
            Для загрузки нужно иметь полномочия администратора.
        </p>
        <h3>Загрузка справочников</h3>
            <p>
                Приложение опирается на справочники: список страховых компаний, список классов страхования, список показателей.
                Справочники загружаются один раз при запуске приложения.
                <br>Загрузка справочников выполняется <a href="{{ url_for('admin.upload_file',upload_type='dictionary') }}">здесь</a>
            </p>
            <p>
                При необходимости можно скачать образцы файлов, использующиеся для загрузки справочников:
                <ul>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=company_list) }}">список компаний</a>
                        <br>(в случае, если компания является компанией по общему страхованию, в колонке КОС проставляется 1, если является компанией по страхованию жизни - 0)
                    </li>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=insclass_list) }}">список классов</a>
                        <br>(заполняются <i>name</i> - уникальное имя класса на латинском и <i>full_name</i> - наименование из отчетов НБ РК;
                        признаки <i>nonlife, obligatory, voluntary_personal</i> и <i>voluntary_property</i> обозначают принадлежность класса
                        к общему страхованию, обязательному страхованию, добровольному личному и добровольному имущественному соответственно)
                    </li>
                    <li>
                        <a href="{{ url_for('admin.downloadFile',fname=indicator_list) }}">список показателей</a>
                        <br>(заполняются <i>name</i> - уникальное имя класса на латинском и <i>full_name</i> - наименование из отчетов НБ РК;
                        признак <i>flow</i> обозначает тот факт, что показатель нужно смотреть за период, а не на дату;
                        признак <i>basic</i> обозначает, что данный показатель загружается с отчетов НБ РК, а не вычисляется)
                    </li>
                </ul>        
            </p>
        <h3>Загрузка данных</h3>
            <p>Приложение опирается четыре файла, загружаемых с сайта НБ РК: 
                <a href="https://nationalbank.kz/?docid=1075&switch=russian">Статистика > Показатели финансового сектора > Страховой сектор > Финансовые показатели</a>
            </p>
            <ul>
                <li>Сводные сведения о выполнении пруденциальных нормативов</li>
                <li>Основные финансовые показатели страховых (перестраховочных) организаций Республики Казахстан</li>
                <li>Поступление страховых премий по отраслям и классам страхования</li>
                <li>Страховые выплаты по отраслям и классам страхования</li>
            </ul>
            <p>
                Для успешной загрузки необходимо, чтобы в файле был только один лист. 
                <br>Загрузка файлов с данными запускается <a href="{{ url_for('admin.upload_file',upload_type='data') }}">здесь</a>
                <br>Будьте внимательны! Возможны ошибки в загрузке в случае изменения структуры файлов НБ РК!
            </p>            

        <h3>Перерасчёт</h3>
            <p>
                После загрузки данных из файлов НБ РК нужно выполнить перерасчёт.
                НБ РК публикует данные с накопительным итогом.
                Процедура перерасчета рассчитается значения показателей за месяц.
                <br>Данная процедура запускается <a class="dropdown-item" href="{{ url_for('admin.compute') }}">здесь</a>
            </p>

{% endblock %}