{% extends "base.html" %}

{% block app_content %}
<h1>Список пользователей</h1>
<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>N</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>e-mail</th>
                <th>Последний вход</th>
                <th>Отправлять email</th>
                <th>Изменить данные пользователя</th>
                <th>Изменить роль</th>
            </tr>
            {% if users %}
                {% for rownum in range(users_len) %}
                    <tr>
                        <td>{{ rownum + 1 }}</td>
                        <td><a href="{{ url_for('main.user',username=users[rownum].username) }}">{{ users[rownum].username }}</a></td>
                        <td>{{ users[rownum].role }}</td>
                        <td>{{ users[rownum].email }}</td>
                        <td>{{ moment(users[rownum].last_seen).format('LLL') }}</td>
                        <td>
                            {% if users[rownum].send_emails %}
                                Да
                            {% elif users[rownum].send_emails == False %}
                                Нет
                            {% else %}
                                Не указано
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('admin.edit_user',user_id=users[rownum].id) }}">Изменить</a></td>
                        <td>
                            {% if users[rownum].role == 'user' %}
                                <a href="{{ url_for('admin.grant_admin',user_id=users[rownum].id) }}">Сделать админом</a>
                            {% else %}
                                <a href="{{ url_for('admin.grant_user',user_id=users[rownum].id) }}">Разжаловать</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}