{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Информация по классу страхования</h1>
    <p><i>{{ descr }}</i></p>
    <p>
        Данные доступны за период с <b>{{ moment(g.min_report_date).format('LL') }}</b>
        по <b>{{ moment(g.last_report_date).format('LL') }}</b>
    </p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if class_companies %}
        <div>
            <h2>Информация по классу {{ class_name }} в разрезе компаний</h2>
            <p>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</p>
            <p><i>В списке отображаются только те компании, у которых были премии или выплаты по классу {{ class_name }} за выбранный период</i></p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>N</th>
                        <th>Компания</th>
                        <th align="right">Премии, тыс.тг.</th>
                        <th align="right">Доля рынка, %</th>
                        <th align="right">Выплаты, тыс.тг.</th>
                        <th align="right">Коэффициент выплат, %</th>
                    </tr>
                    {% for rownum in range(class_companies_len) %}
                        <tr>
                            <td>{{ rownum + 1 }}</td>
                            <td>{{ class_companies[rownum].name }}</td>
                            <td align="right">{{ "{:,.0f}".format(class_companies[rownum].premium) }}</td>
                            <td align="right">{{ class_companies[rownum].share }}</td>
                            <td align="right">{{ "{:,.0f}".format(class_companies[rownum].claim) }}</td>
                            <td align="right">{{ class_companies[rownum].lr }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if class_info %}
        <div>
            <h2>Динамика развития класса {{ class_name }}</h2>
            <p>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</p>
            <p><i>Информация по всем компаниям</i></p>
            <div class="container">
                <div align="center"><h2>Премии по месяцам</h2>
                    <img src="{{ img_path_prem }}" style="max-width:100%" alt="premium plot">
                </div>
            </div>
            <div class="container">
                <div align="center"><h2>Выплаты по месяцам</h2>
                    <img src="{{ img_path_claim }}" style="max-width:100%" alt="claim plot">
                </div>
            </div>
            <h2>Коэффициент выплат по месяцам</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Месяц</th>                            
                        <th>Коэффициент выплаты, %</th>
                    </tr>
                        {% for m in class_info %}
                            <tr>                                
                                <td>{{ m.month_name }}</td>                                
                                <td>{{ m.lr }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}