{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Действия пользователей (запросы)</h1>
<p>Выберите период</p>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div>
    <h2>Запросы по пользователям</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Пользователь</th>
                    <th>Кол-во запросов</th>                    
                </tr>
                {% for u in events_by_user %}
                    <tr>
                        <td>{{ u.username }}</td>
                        <td>{{ u.amount }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>    
</div>
<div>
    <h2>Запросы по страницам</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Страница</th>
                    <th>Кол-во запросов</th>                    
                </tr>
                {% for p in events_by_page %}
                    <tr>
                        <td>{{ get_view_name(p.view_id) }}</td>
                        <td>{{ p.amount }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>    
</div>
<div>
    <h2>Список запросов</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Пользователь</th>
                <th>View</th>
                <th>Дата-время запроса</th>
            </tr>
            {% for e in log_events %}
                <tr>
                    <td>{{ e.username }}</td>
                    <td>{{ get_view_name(e.view_id) }}</td>                    
                    <td>{{ moment(e.timestamp).format('LLL') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Более новые
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Более старые <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}