{% extends "base.html" %}

{% block app_content %}
<h1>Список пользователей</h1>
<div>
    <table class="table table-hover">
        <tr>
            <th>N</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>e-mail</th>
            <th>Последний вход</th>
        </tr>
        {% if users_len>0 %}
            {% for rownum in range(users_len) %}
                <tr>
                    <td>{{ rownum + 1 }}</td>
                    <td><a href="{{ url_for('user',username=users[rownum].username) }}">{{ users[rownum].username }}</a></td>
                    <td>{{ users[rownum].role }}</td>
                    <td>{{ users[rownum].email }}</td>
                    <td>{{ moment(users[rownum].last_seen).format('LLL') }} </td>            
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}