{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Информация по классу страхования</h1>
    <p><i>{{ descr }}</i></p>
    <p>
        Данные доступны за период с <b>{{ moment(g.min_report_date).format('LL') }}</b>
        по <b>{{ moment(g.last_report_date).format('LL') }}</b>
    </p>

    {% include 'just_form.html' %}
    
    {% if show_info %}
        {% if class_companies %}
            <div align="center">
                <h2>Информация по классу {{ class_name }} в разрезе компаний</h2>
                <p><b>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</b></p>
                <p><i>* в списке отображаются только те компании, у которых были премии или выплаты по классу {{ class_name }} за выбранный период</i></p>
                <p><i>** премии и выплаты приведены в <b>тыс.тг.</b></i></p>
                <div class="table-responsive tableFixHead">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Компания</th>
                                <th>N</th>                            
                                <th align="right">Премии</th>
                                <th align="right">Доля рынка, %</th>
                                <th align="right">Выплаты</th>
                                <th align="right">
                                    {% if get_hint('LR_coef') %}
                                        <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат, %</a>
                                    {% else %}
                                        Коэффициент выплат, %
                                    {% endif %}
                                </th>
                                {% if show_last_year %}
                                    <th align="right">Премии с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}</th>
                                    <th align="right">Выплаты с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}</th>
                                    <th align="right">
                                        {% if get_hint('LR_coef') %}
                                            <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %</a>
                                        {% else %}
                                            Коэффициент выплат с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %
                                        {% endif %}
                                    </th>                                
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for rownum in range(class_companies_len) %}
                                <tr>
                                    <th>{{ class_companies[rownum].name }}</th>
                                    <td>{{ rownum + 1 }}</td>
                                    <td align="right">{{ "{:,.0f}".format(class_companies[rownum].premium) }}</td>
                                    <td align="right">{{ class_companies[rownum].share }}</td>
                                    <td align="right">{{ "{:,.0f}".format(class_companies[rownum].claim) }}</td>
                                    <td align="right">{{ class_companies[rownum].lr }}</td>
                                    {% if show_last_year %}
                                        {% for c_l_y in class_companies_l_y %}
                                            {% if c_l_y.id == class_companies[rownum].id %}
                                                <td align="right">                                                
                                                    {% if c_l_y.premium > 0 %}
                                                        {{ "{:,.0f}".format(c_l_y.premium) }}
                                                    {% else %}
                                                        N.A.
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    {% if c_l_y.claim > 0 %}
                                                        {{ "{:,.0f}".format(c_l_y.claim) }}
                                                    {% else %}
                                                        N.A.
                                                    {% endif %}
                                                </td>
                                                <td align="right">{{ c_l_y.lr }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ИТОГО</th>
                                <td></td>                            
                                <td align="right"><b>{{ "{:,.0f}".format(class_totals.total_p) }}</b></td>
                                <td></td>
                                <td align="right"><b>{{ "{:,.0f}".format(class_totals.total_c) }}</b></td>
                                <td align="right"><b>{{ class_totals.total_lr }}</b></td>
                                {% if show_last_year %}
                                    <td align="right"><b>{{ "{:,.0f}".format(class_totals_l_y.total_p) }}</b></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(class_totals_l_y.total_c) }}</b></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(class_totals_l_y.total_lr) }}</b></td>
                                {% endif %}
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if class_info %}
            <div align="center">
                <h2>Динамика развития класса {{ class_name }}</h2>
                <p><b>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</b></p>
                <p><i> * информация приведена по всем компаниям</i></p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div align="center"><h2>Премии по месяцам</h2>
                                <img src="{{ img_path_prem }}" style="max-width:100%" alt="premium plot">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div align="center"><h2>Выплаты по месяцам</h2>
                                <img src="{{ img_path_claim }}" style="max-width:100%" alt="claim plot">
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Коэффициент выплат по месяцам</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Месяц</th>
                            <th>
                                {% if get_hint('LR_coef') %}
                                    <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат, %</a>
                                {% else %}
                                    Коэффициент выплат, %
                                {% endif %}
                            </th>
                        </tr>
                            {% for m in class_info %}
                                <tr>                                
                                    <td>{{ m.month_name }}</td>                                
                                    <td>{{ m.lr }}</td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}