{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Информация по классу страхования</h1>
    <p><i>{{ descr }}</i></p>
    <p>
        Данные доступны за период с <b>{{ moment(g.min_report_date).format('LL') }}</b>
        по <b>{{ moment(g.last_report_date).format('LL') }}</b>
    </p>

    {% include 'just_form.html' %}
    
    {% if show_info %}
        {% if class_companies %}
            <div align="center">
                <h2>Информация по классу {{ class_name }} в разрезе компаний</h2>
                <p><b>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</b></p>
                <p><i>* в списке отображаются только те компании, у которых были премии или выплаты по классу {{ class_name }} за выбранный период</i></p>
                <p><i>** премии и выплаты приведены в <b>тыс.тг.</b></i></p>
                <div class="table-responsive tableFixHead">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Компания</th>
                                <th>N</th>                            
                                <th align="right">Премии</th>
                                <th align="right">Доля рынка по премиям, %</th>
                                <th align="right">Выплаты</th>
                                <th align="right">Доля рынка по выплатам, %</th>
                                <th align="right">
                                    {% if get_hint('LR_coef') %}
                                        <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат, %</a>
                                    {% else %}
                                        Коэффициент выплат, %
                                    {% endif %}
                                </th>
                                {% if show_last_year %}
                                    <th align="right">Изменение премий по сравнению с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }},%</th>
                                    <th align="right">Изменение выплат по сравнению с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }},%</th>
                                    <th align="right">Изменение коэффициента выплат по сравнению с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }},%</th>                                
                                    <th align="right">Премии с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}</th>
                                    <th align="right">Доля рынка по премиям, {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %</th>
                                    <th align="right">Выплаты с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}</th>
                                    <th align="right">Доля рынка по выплатам, {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %</th>
                                    <th align="right">
                                        {% if get_hint('LR_coef') %}
                                            <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %</a>
                                        {% else %}
                                            Коэффициент выплат с {{ moment(b_l_y).format('LL') }} по {{ moment(e_l_y).format('LL') }}, %
                                        {% endif %}
                                    </th>                                
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in class_companies %}
                                <tr>
                                    <th>{{ item.alias }}</th>
                                    <td>{{ item.row_index + 1 }}</td>
                                    <td align="right">{{ "{:,.0f}".format(item.premium) }}</td>
                                    <td align="right">{{ item.prem_share }}</td>
                                    <td align="right">{{ "{:,.0f}".format(item.claim) }}</td>
                                    <td align="right">{{ item.claim_share }}</td>
                                    <td align="right">{{ item.lr }}</td>
                                    {% if show_last_year %}
                                        <td align="right">{{ item.prem_change }}</td>
                                        <td align="right">{{ item.claim_change }}</td>
                                        <td align="right">{{ item.lr_change }}</td>
                                        <td align="right">{{ "{:,.0f}".format(item.premium_l_y) }}</td>
                                        <td align="right">{{ item.prem_share_l_y }}</td>
                                        <td align="right">{{ "{:,.0f}".format(item.claim_l_y) }}</td>
                                        <td align="right">{{ item.claim_share_l_y }}</td>
                                        <td align="right">{{ item.lr_l_y }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ИТОГО</th>
                                <td></td>                            
                                <td align="right"><b>{{ "{:,.0f}".format(premiums_total) }}</b></td>
                                <td></td>
                                <td align="right"><b>{{ "{:,.0f}".format(claims_total) }}</b></td>
                                <td></td>
                                <td align="right"><b>{{ lr_av }}</b></td>
                                {% if show_last_year %}
                                    <td align="right"><b>{{ delta_prem_total }}</b></td>
                                    <td align="right"><b>{{ delta_claim_total }}</b></td>
                                    <td align="right"><b>{{ delta_lr_total }}</b></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(premiums_total_l_y) }}</b></td>
                                    <td></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(claims_total_l_y) }}</b></td>
                                    <td></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(lr_av_l_y) }}</b></td>
                                {% endif %}
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if class_info %}
            <div align="center">
                <h2>Динамика развития класса {{ class_name }}</h2>
                <p><b>за период с {{ moment(b).format('LL') }} по {{ moment(e).format('LL') }}</b></p>
                <p><i> * информация приведена по всем компаниям</i></p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">                        
                            <div align="center"><h2>Премии по месяцам</h2>
                                <img src="{{ img_path_prem }}" style="max-width:100%" alt="premium plot">
                            </div>
                        </div>                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div align="center"><h2>Выплаты по месяцам</h2>
                                <img src="{{ img_path_claim }}" style="max-width:100%" alt="claim plot">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div align="center"><h2>Коэффициент выплат по месяцам</h2>
                                <img src="{{ img_path_lr }}" style="max-width:100%" alt="claim plot">
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>

            <div align="center">
                <h2>Премии, выплаты, коэффициент выплат по месяцам</h2>
                <div class="table-responsive tableFixHead">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Месяц</th>
                                <th>Премии</th>
                                <th>Выплаты</th>
                                <th>
                                    {% if get_hint('LR_coef') %}
                                        <a href="#" data-toggle="popover" title="{{ get_hint('LR_coef').title }}" data-trigger="hover" data-content="{{ get_hint('LR_coef').text }}">Коэффициент выплат, %</a>
                                    {% else %}
                                        Коэффициент выплат, %
                                    {% endif %}
                                </th>
                                {% if show_last_year %}                                    
                                    <th>Премии за тот же месяц прошлого года</th>
                                    <th>Выплаты за тот же месяц прошлого года</th>
                                    <th>Коэффициент выплат за тот же месяц прошлого года %</th>
                                    <th>Изменение премий %</th>
                                    <th>Изменение выплат %</th>
                                    <th>Изменение коэффициента выплат %</th>                                    
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in class_info %}
                                <tr>
                                    <th>{{ m.month_name }}</th>
                                    <td align="right">{{ "{:,.0f}".format(m.premium) }}</td>
                                    <td align="right">{{ "{:,.0f}".format(m.claim) }}</td>
                                    <td align="right">{{ m.lr }}</td>
                                    {% if show_last_year %}
                                        <td align="right">{{ "{:,.0f}".format(m.premium_l_y) }}</td>
                                        <td align="right">{{ "{:,.0f}".format(m.claim_l_y) }}</td>
                                        <td align="right">{{ m.lr_l_y }}</td>
                                        <td align="right">{{ m.prem_change }}</td>
                                        <td align="right">{{ m.claim_change }}</td>
                                        <td align="right">{{ m.lr_change }}</td>                                        
                                    {% endif %}                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                                <tr>
                                    <th>ИТОГО</th>
                                    <td align="right"><b>{{ "{:,.0f}".format(premiums_total) }}</b></td>
                                    <td align="right"><b>{{ "{:,.0f}".format(claims_total) }}</b></td>
                                    <td align="right"><b>{{ lr_av }}</b></td>
                                    {% if show_last_year %}
                                        <td align="right"><b>{{ "{:,.0f}".format(premiums_total_l_y) }}</b></td>                                        
                                        <td align="right"><b>{{ "{:,.0f}".format(claims_total_l_y) }}</b></td>
                                        <td align="right"><b>{{ "{:,.0f}".format(lr_av_l_y) }}</b></td>
                                        <td align="right"><b>{{ delta_prem_total }}</b></td>
                                        <td align="right"><b>{{ delta_claim_total }}</b></td>
                                        <td align="right"><b>{{ delta_lr_total }}</b></td>                                        
                                    {% endif %}
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}